
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

@model List<TestimonialViewModel>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
             <th> Referans Görsel  </th>
            <th> Referans Adı</th>
            <th> Referans Ünvanı</th>
           

            <th>Sil</th>
            <th>Güncelle</th>
            <th>Detaylar</th>

         
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
           <td>@item.Image</td>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.Id" class="btn btn-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-primary">Detaylar</a></td>
            

        </tr>
        }
    </tbody>
</table>
<a href="/Testimonial/AddTestimonial/" class="btn btn-dark">Yeni Referans Girişi</a>

